extends layout

block content
  h1
    img#logo(src="/images/logo.png", alt=" ", width="60")
    | #{title}
  #container
    img#image(src="/watching/image.jpg", alt="image", width="640", height="480")
    pre#classification= classification
  br
  br
  a(href="http://muglab.uniroma3.it/", target="_blank", title="MUG") http://muglab.uniroma3.it/
  span  - 
  a(href="https://github.com/mugroma3/ClassiPi", target="_blank", title="Repository") https://github.com/mugroma3/ClassiPi
  br
  br
  div 
    b ClassiPi 
    | is an application consisting of a Neural Network on a Raspberry Pi, classifying images taken live from a webcam. 
  
