body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#image, #classification {
  float: left;
}

#classification {
  padding-left: 20px;
  font-size: 130%
}

#classification b {
  text-transform: capitalize;
  font-size: 110%;
}